/* @media (min-width: 600px) {
    body {
        background-color: red;
    }
}

@media (max-width: 599px) {
    body {
        background-color: blue;
    }
} */

body, html {
    height: 100%;
}

body {
    background-image: url("../media/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="submit"] {
    background-color: red;
}

input[type="submit"]:hover {
    background-color: green;
}