{% extends "wikidthConverter/layout.html" %}
{% block body %}
    <div class="row">
        <div class="current">Home</div>
        <div class="current">Book List</div>
    </div>

    <p>
        This is a simple converter for Wikidich.
    </p>
    
    <p>
        Copy and paste the link to the Wikidich page you want to convert.
    </p>

    <form action="{% url 'wikidithConverter:index' %}" method="post">
        {% csrf_token %}
        <div>
            {{form.as_p}}
        </div>
        <input type="submit">
    </form>

    <a href="{% url 'wikidithConverter:booklist' %}"> Available Books</a>
{% endblock %}


