{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>

    </head>
    <body>
        <h1>Welcome to WikidichConverter!!!</h1>
        <p>
            This is a simple converter for Wikidich.
        </p>
        <p>
            Copy and paste the link to the Wikidich page you want to convert.
        </p>

        <form>
            <input type="text" placeholder="Wikidich's link" name="first">
            <div>
                File format:
                <input name="format" type="radio" value="pdf"> PDF
                <input name="format" type="radio" value="epub"> EPUB
            </div>
            <input type="submit">
        </form>
    </body>
</html>


